body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 5em;
  margin-top: 3em
}

.landing-main {
  text-align: center;
}

.login-logo {
  height: 5em;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login {
  display: block;
  text-align: center;
}

.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.form-input {
  border-radius: 1px;
}

.login-button {
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  padding: 0.4em;
}

.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";

  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 3em 1fr auto;

  height: 100vh;
}

header {
  grid-area: header;
  text-align: right;
  align-self: stretch;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: orange;
}

nav {
  grid-area: nav;
  display: none;
}

.user-p {
  margin: 0;
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-logo {
  height: 2em;
  float: left;
  margin-top: 0.25em;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
}

.dashboard-h1 {
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dashboard-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.dashboard-link-container {
  /* padding-left: 60px;
  padding-right: 60px; */
  text-align: center;
  margin-bottom: 2em;
}

.dashboard-link {
  display: block;
  text-decoration: none;
  font-size: 0.75em;
  margin-top: 0.5em;
  color: black;
}

.dashboard-link:visited {
  color: black;
}

.fa, .fa-user-md, .fa-5x, .appointment-icon {
  margin: 0;
}

.fa-user {
  padding: 15px;
  border-radius: 30px;
  background-color: aqua;
  color: black;
}

.fa-book {
  padding: 15px;
  border-radius: 30px;
  background-color: violet;
  color: black;
}

.fa-vial {
  padding: 15px;
  border-radius: 30px;
  background-color: orange;
  color: black;
}

.fa-user-md {
  padding: 15px;
  border-radius: 30px;
  background-color: greenyellow;
  color: black;
}

.fa-calendar-alt {
  padding: 15px;
  border-radius: 30px;
  background-color: tomato;
  color: black;
}

.appointment-icon {
  height: 5em;
}

.grid {
  display: block;
}

.list {
  text-align: center;
}

.mobile-hide {
  display: none;
}

.desktop-hide {
  display: block;
}

.show {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #e74c3c;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  opacity: 1;
  animation: fade 0.25s linear;
}

@keyframes fade {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

.sidebar-list {
  list-style: none;
  padding-left: 1em;
}

.sidebar-sublinks-list {
  list-style: none;
  padding-left: 1.5em;
}

.sidebar-list-item {
  margin-bottom: 1.5em;
}

.sidebar-sublink {
  text-decoration: none;
}

.sidebar-link {
  text-decoration: none;
}

.hidden {
  display: none;
}



main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-areas: 
    "list show";
    grid-template-columns: 1fr 1fr;
  }

  .show {
    grid-area: show;
    justify-self: center;
    position: static;
  }
  
  .list {
    grid-area: list;
    justify-self: center;
  }

  .mobile-hide {
    display: block;
  }

  .desktop-hide {
    display: none;
  }

  nav {
    display: block;
  }
}
 
