/* .color-1 {color: #7700B4;}
.color-2 {color: #008099;}
.color-3 {color: #FF9D14} */

* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
}

.landing-logo {
  height: 4em;
  vertical-align: middle;
}

.landing-page-container {
  height: 100vh;
}

.landing-background-image {
  display: none;
}

.landing-main {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 15px;
  padding-right: 15px;
}

.landing-logo-span-1, .landing-logo-span-2 {
  font-family: 'Oregano', cursive;
  font-size: 2em;
  vertical-align: middle;
}

.landing-logo-span-1 {
  color: #008099;
}

.landing-logo-span-2 {
  color: #7700B4;
}

.landing-h2 {
  color: #7700B4;
  margin-bottom: 2em;
  margin-top: 2em;
}

.landing-p {
  color: #7700B4;
}

.landing-link {
  display: inline-block;
  background-color: #FF9D14;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 2em;
}

.landing-link:hover {
  background-color: #008099;
}

.login-logo {
  height: 5em;
  margin-top: 0;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login-container {
  height: 100vh;
  background-color: #7700B4;
}

.login {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 0;
}


.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 2em;
  border: 2px solid #7700B4;
  border-radius: 10px;
  background-color: white;
}

.login-form-label {
  display: inline-block;
  margin-bottom: 5px;
  color: #7700B4;
}

.form-input {
  border-radius: 1px;
  margin-bottom: 15px;
}

.form-input-3 {
  text-align: left;
}

.form-input-hidden {
  display: none;
}

.form-error, .form-warning {
  margin-bottom: 4px;
  font-weight: bold;
  color: #C70000;
}

.input-one {
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
  border: 1px solid #ccc !important;
}

.input-one:focus {
  outline: 0;
  border: 1px solid #7700B4 !important;
  color: #7700B4 !important;
}

/* .input-two {
  font-size: unset;
  padding: 0;
  width: unset;
} */

.input-two-label, .input-three-label {
  display: block;
  margin-bottom: 5px;
}

.input-three-label.a {
  margin-bottom: 0;
}

.datetime-picker-input-3 .rw-widget-picker.rw-widget-container input {
  margin-bottom: 0;
  align-self: center;
  border-radius: 0;
  border: none;
}

.input-two, .input-three {
  width: 100%;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
}

.login-form p {
  text-align: center;
  font-size: 17px;
}

.login-form span {
  font-weight: bold;
}

.datetime-picker-input-3 .rw-widget-picker.rw-widget-container input {
  margin-bottom: 0;
  align-self: center;
  border-radius: 0;
  border: none;
  padding: 5px;
  font-size: 15px;
  width: 100%;
}

.datetime-picker-input-3 .rw-widget-picker {
  height: unset;
}

.rw-widget .rw-btn-select {
  vertical-align: unset;
  opacity: unset;
}

/* .form-input-3.a {
  height: 75%;
} */

.rw-widget-picker.rw-widget-container .rw-widget-input {
  box-shadow: unset;
  color: black;
  outline: 0;
}

.input-two:focus, .input-three:focus, .datetime-picker-input-3 .rw-widget-picker.rw-widget-container input:focus {
  outline: 0;
  border: 1px solid #7700B4 !important;
  color: #7700B4 !important;
  border-radius: 4px;
  padding: 5px;
}

.datetime-picker-input-2 .rw-widget-picker.rw-widget-container {
  height: unset;
}

.datetime-picker-input-2 .rw-widget-picker.rw-widget-container input {
  padding: 5px;
}

.datetime-picker-input-2 .rw-widget-picker.rw-widget-container input:focus {
  outline: 0;
  border: 1px solid #7700B4 !important;
  color: #7700B4 !important;
  border-radius: 4px;
  padding: 10px 5px;
}


.datetime-picker-input-3 .rw-widget-picker.rw-widget-container input:focus, 
.datetime-picker-input-2 .rw-widget-picker.rw-widget-container input:focus {
  border-radius: 4px 0 0 4px;
  padding: 5px;
}

.input-one:-webkit-autofill,
.input-one:-webkit-autofill:hover,
.input-one:-webkit-autofill:focus,
.input-one:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px #faffbd inset;
    padding: 5px;
    border: 1px solid black;
}

.input-two:-webkit-autofill,
.input-two:-webkit-autofill:hover,
.input-two:-webkit-autofill:focus,
.input-two:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px #faffbd inset;
    padding: 5px;
    border: 1px solid black;
}


.input-three:-webkit-autofill,
.input-three:-webkit-autofill:hover,
.input-three:-webkit-autofill:focus,
.input-three:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px #faffbd inset;
    padding: 5px;
    border: 1px solid black;
}

.login-button {
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  padding: 0.65em;
  border: 0;
  background-color: #FF9D14;
  color: white;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header1 header2"
    "content1 content2"
    "footer1 footer2";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  grid-template-areas:
  "a b";
  grid-template-columns: auto 1fr;
  grid-column-start: header1;
  grid-column-end: header2;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
  z-index: 2;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-logo.a {
  grid-area: a;
}

.header-div.b {
  grid-area: b;
  text-align: right;
  position: relative;
  z-index: 10;
}

.header-quick-link-container {
  display: none;
}

.user-div {
  line-height: 30px;
  border-bottom: 1px solid white;
}

.user-p {
  margin: 0;
  padding-left: 10px;
  text-align: left;
}

.user-dropdown-div {
  display: inline-block;
  color: #7700B4;
  margin-left: 15px;
}

.user-display {
  position: absolute;
  top: 110%;
  left: auto;
  z-index: 0;
  right: 4em;
  background-color: #7700B4;
  color: white;
  width: 120px;
  border-radius: 6px;
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: white;
  line-height: 30px;
  display: block;
  width: 100%;
  padding-left: 10px;
  text-align: left;
  border-radius: 0 0 6px 6px;
}

.logout-button:hover {
  background-color: #008099;
}

.fa-sort-down, .fa-sort-up {
  vertical-align: super;
  padding-right: 6px;
  cursor: pointer;
}

.fa-sort-up {
  vertical-align: middle;
}

.fa-sort-down:hover, .fa-sort-up {
  color: #008099;
}

.fa-user-circle {
  font-size: 1.5em;
  margin-right: 1em;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.5em;
  color: #7700B4;
  cursor: pointer;
}

.fa-bars:hover {
  color: #008099;
}

.sidebar-dropdown-div {
  display: inline-block;
}

.nav-logo {
  height: 2em;
  vertical-align: middle;
}

.logo-link {
  text-decoration: none;
}

.logo-span-1, .logo-span-2 {
  display: none;
  font-family: 'Oregano', cursive;
  vertical-align: middle;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;
}

h2 {
  font-size: 1.6em;
}

.dashboard-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.dashboard-link-container {
  text-align: center;
  text-decoration: none;
  color: black;
}

.dashboard-link-text {
  margin: 0;
  margin-top: 0.5em;
  color: #7700B4;
}

.dashboard-link-container:visited {
  color: black;
}

.fa, .fa-user-md, .fa-5x {
  margin: 0;
}

.fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
  font-size: 4em;
  padding: 15px;
  border-radius: 30px;
  background-color: #7700B4;
  color: white;
}

.appointments-section, .lab-results-section {
  display: block;
}

.appointments-section {
  margin-bottom: 4em;
}

.list {
  text-align: center;
}

.mobile-hide {
  display: none;
}

.desktop-hide {
  display: block;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 2.5em;
  justify-self: end;
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
}

.desktop-hide-2 {
  display: block;
}

.desktop-hide-3 {
  display: block;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 2.5em;
  justify-self: end;
  margin-left: auto;
  margin-right: 0;
}

.desktop-hide-button-container {
  max-width: 300px;
  margin: auto;
}

.lab-results-main {
  padding: 0;
}

.lab-results-list-section, .appointments-list-section {
  margin-left: auto;
  margin-right: auto;
}

.appointments-list-section {
  width: 60%;
  height: 175px;
  overflow-y: scroll;
}

.lab-results-list-h2, .appointments-list-h2 {
  text-decoration: underline;
}

.lab-results-list-div, .appointments-list-div {
  text-align: center;
}

.appointments-list-div {
  margin-bottom: 4em;
}

.lab-results-list, .appointments-list {
  list-style: none;
  padding: 0;
}

.lab-results-list-item, .appointments-list-item {
  cursor: pointer;
  margin-bottom: 15px;
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
  color: #7700B4;
}

.lab-results-list-item:hover, .appointments-list-item:hover {
  text-decoration: underline;
  color: #7700B4;
}

.show-a, .show-b {
  width: 100%;
  animation: fade-1 0.25s linear;
}

.fa-times.a {
  color: #7700B4;
}

.fa-times.c {
  color: white;
}

.fa-times.c:hover {
  color: #008099;
}

.lab-results-show-text, .appointments-show-text {
  text-align: center;
}

.lab-results-show-section {
  display: grid;
  grid-template-areas: 
  "test result measurement-method";
  grid-template-columns: 1fr 0.25fr 0.5fr;
  max-width: 280px;
  margin: auto;
  animation: fade-2 1s linear;
}

.appointments-show-section{
  animation: fade-2 1s linear;
}

.lab-results-show-h2 {
  grid-column-start: test;
  grid-column-end: measurement-method;
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
}

.test-span {
  grid-column-start: test;
  grid-column-end: test;
}

.result-span {
  grid-column-start: result;
  grid-column-end: result;
}

.measurement-method-span {
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
  text-align: right;
}

.test-span, .result-span, .measurement-method-span {
  padding-bottom: 0.5em;
}

@keyframes fade-1 {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

@keyframes fade-2 {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  25% {opacity: 0.75;}
  50% {opacity: 0.50;}
  75% {opacity: 0.25;}
  100% {opacity: 0;}
}

/* .sidebar-display-open {

} */

.sidebar-button {
  margin-top: 10px;
  padding: 0;
  margin-left: 10px;
  border: none;
  background: none;
  font-size: 1.6em;
  cursor: pointer;
}

.sidebar-display {
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #7700B4;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 200px;
  height: 100%;
  min-height: 100%;
  z-index: 3;
  transition: all 0.35s ease-in-out;
  text-align: left;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-sublinks-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-list-item {
  border-top: 1px solid white;
  padding: 0;
  padding-left: 10px;
  position: relative;
  line-height: 30px;
}

.sidebar-list-item:hover {
  background-color: #008099;
}

.sidebar-sublink {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 110%;
  border-top: 1px solid white;
  margin-left: -10px;
  padding-left: 10px;
  background-color: #7700B4;
}

.sidebar-sublink:hover {
  background-color: #008099
}

.sidebar-link {
  display: inline-block;
  width: 80.2%;
  text-decoration: none;
  color: white;
  margin-left: -10px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.sidebar-link-2 {
  display: inline-block;
  width: 110%;
  text-decoration: none;
  color: white;
  margin-left: -10px;
  padding-left: 10px;
  transition: all 0.5s ease;
}

.fa-caret-down, .fa-caret-up {
  vertical-align: -18%;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 2px 14px;
}

.hidden-2 {
  right: -400px;
}

main {
  grid-column-start: content1;
  grid-column-end: content2;
  margin-bottom: 3em;
}

.footer-div {
  grid-column-start: footer1;
  grid-column-end: footer2;
  text-align: center;
  align-self: end;
  background-color: #7700B4;
  color: white;
  height: 2.5em;
}

footer {
  line-height: 2.5em;
}

.basic-info-section, .primary-insurance-info-section, .secondary-insurance-info-section, .treatment-info-section, .doctor-section {
  display: grid;
  grid-template-areas: 
    "c d";
  grid-auto-columns: auto;
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  grid-row-gap: 0.5em;
}

.basic-info-h1, .primary-insurance-info-h1, .secondary-insurance-info-h1, .treatment-info-h1 {
  text-align: center;
}

.grid-c-span {
  grid-column-start: c;
  grid-column-end: c;
  font-weight: bold;
  padding-right: 5px;
}

.grid-d-span {
  grid-column-start: d;
  grid-column-end: d;
  text-align: right;
  padding-left: 5px;
}

.display-section {
  animation: fade-2 1s linear;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
}

.display-profile-section-button-1, .display-profile-section-button-2, .display-doctor-button-1, .display-doctor-button-2 {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: #7700B4;
  margin-left: auto;
  margin-right: auto;
}

.display-profile-section-button-1, .display-doctor-button-1 {
  grid-area: left;
}

.display-profile-section-button-1:hover, .display-doctor-button-1:hover {
  color: #008099;
}

.display-profile-section-button-2, .display-doctor-button-2 {
  grid-area: right;
}

.display-profile-section-button-2:hover, .display-doctor-button-2:hover {
  color: #008099;
}

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
  font-size: 3em;
  margin: 0;
}

.fa-arrow-alt-circle-right, .fa-arrow-alt-circle-left {
  font-size: 2.5em;
  margin: 0;
}

.profile-section-button-holder, .doctor-button-holder {
  display: grid;
  grid-template-areas: 
   "left right";
  grid-template-columns: 1fr 1fr;
  align-items: start;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.doctor-button-holder {
  margin-top: 1em;
}

.profile-section-button-holder {
  margin-top: 5em;
}

.display-profile-section-button-p {
  margin: 0;
  font-weight: bold;
}

.doctor-h3 {
  grid-column-start: c;
  grid-column-end: d;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}

.top-image-div-1 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(http://www.ssclive.org/wp-content/uploads/2017/04/black-doctor-signs-you-were-raised-african.png);
  width: 100%;
  background-size: cover;
  background-position-x: center;
  height: 440px;
  color: white;
}

.patient-education-icon {
  height: 144px;
  width: 144px;
  border-radius: 50%;
}

.patient-education-h1, .esrd-info-h1, .nutritional-info-h1, .living-with-esrd-h1 {
  line-height: 440px;
  margin: 0;
}

.patient-education-h2, .about-h2 {
  border-bottom: 5px solid #7700B4;
  padding-bottom: 10px;
}

.section-2-h2 {
  max-width: 1150px;
  margin: auto;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.patient-education-links-container {
  text-align: center;
  margin: auto;
}

.patient-education-div-1 {
  -webkit-box-shadow: 0px 0px 58px -3px #c7c7c7;
  box-shadow: 0px 0px 58px -3px #c7c7c7;
  margin: 0 auto 40px auto;
  max-width: 350px;
}

.patient-education-div-2 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.patient-education-h4 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.patient-education-h4-1 {
  color: #7700B4;
}

.patient-education-h4-2 {
  color: #FF9D14
}

.patient-education-h4-3 {
  color: #008099;
}

.patient-education-link-p {
  line-height: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  font-size: 1.1em;
}

.patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.patient-education-link-1 {
  background-color: #7700B4;
}

.patient-education-link-1:hover {
  background-color: #A000F0;
}

.patient-education-link-2 {
  background-color: #FF9D14;
}

.patient-education-link-2:hover {
  background-color: #FFB853;
}

.patient-education-link-3 {
  background-color: #008099;
}

.patient-education-link-3:hover {
  background-color: #00A6C7;
}

.nutritional-info-ul, .esrd-info-ul, .living-with-esrd-ul {
  list-style-type: square;
  margin-bottom: 3em;
  margin-top: 0;
}
.nutritional-info-li, .esrd-info-li, .living-with-esrd-li {
  margin-bottom: 0.4em;
}

.top-image-div-3 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(https://i.ytimg.com/vi/0_dvNTcQxts/maxresdefault.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 440px;
  color: white;
}

.nutritional-info-h2 {
  border-bottom: 5px solid #008099;
  padding-bottom: 10px;
}

.top-image-div-4 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(https://www.ncoa.org/wp-content/uploads/couple-bike-riding-cropped.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 440px;
  color: white;
}

.living-with-esrd-h2 {
  border-bottom: 5px solid #FF9D14;
  padding-bottom: 10px;
}

.top-image-div-2 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(http://www.chaptershealth.org/wp-content/uploads/2018/01/180112-dialysis-crop.jpg);
  width: 100%;
  background-size: cover;
  background-position-x: center;
  height: 440px;
  color: white;
}

.esrd-info-h2 {
  border-bottom: 5px solid #7700B4;
  padding-bottom: 10px;
}

.patient-education-section-1, .patient-education-section-2, .nutritional-info-section, .living-with-esrd-section, .esrd-info-section, .about-section {
  padding-left: 15px;
  padding-right: 15px;
}

.doctor-display-section {
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

.appointments-show-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.appointments-show-list-item {
  display: grid;
  grid-template-areas: 
    "e f";
  grid-auto-columns: auto;
  grid-template-rows: auto;
  max-width: 300px;
  margin: auto;
  padding-bottom: 25px;
  align-items: center;
  padding-top: 25px;
  border-bottom: 3px solid #008099;
}

.appointment-date-h2 {
  grid-column-start: e;
  grid-column-end: f;
  text-align: center;
  text-decoration: underline;
  margin-top: 0
}

.grid-e-span {
  padding-bottom: 4px;
  grid-column-start: e;
  grid-column-end: e;
  font-weight: bold;
  padding-right: 5px;
}

.grid-f-span {
  padding-bottom: 4px;
  text-align: right;
  grid-column-start: f;
  grid-column-end: f;
  padding-left: 5px;
}

.create-appointment-div {
  text-align: center;
}

.create-appointment-span {
  text-align: center;
  margin-top: 3em;
}

.create-appointment-button, .create-doctor-button {
  color: #7700B4;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.create-appointment-form-component-div, .edit-appointment-form-component-div, .edit-doctor-form-component-div,
.edit-basic-profile-info-form-component-div, .create-doctor-form-component-div {
  grid-column-start: e;
  grid-column-end: f;
}

.create-appointment-form-div, .edit-appointment-form-div, .edit-doctor-form-div, .edit-basic-profile-info-form-div,
.create-doctor-form-div {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.edit-appointment-form-component-div {
  margin-top: 20px;
}

.edit-appointment-form-div {
  margin-bottom: 1em;
}

/* .appointment-button-holder-lg {
  display: none;
} */

.fa-ellipsis-v {
  grid-area: d;
  justify-self: end;
  padding: 10px;
  display: inline-block;
  text-align: right;
  cursor: pointer;
  margin-right: -10px;
}

.doctor-menu {
  border-radius: 6px;
  display: block;
  position: absolute;
  width: 225px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 12px 0 rgba(0,0,0,.12);
  margin-left: -235px;
  margin-top: -25px;
}

.edit-doctor-button {
  padding: 5px;
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
  border: none;
  background-color: white;
  cursor: pointer;
  height: 30px;
}

.edit-doctor-button:hover {
  color: white;
  background-color: #7700B4;
}

.delete-doctor-button {
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 0 0 6px 6px;
  border: none;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  height: 30px;
}

.delete-doctor-button:hover {
  color: white;
  background-color: #C70000
}

.appointment-button-holder {
  grid-column-start: e;
  grid-column-end: f;
  text-align: center;
  margin-top: 1em;
}

.create-appointment-submit-button, .cancel-create-appointment-form-changes-button, .edit-doctor-submit-button, 
.cancel-edit-doctor-form-changes-button, .edit-basic-profile-info-submit-button, .cancel-edit-basic-profile-info-form-changes-button,
.create-doctor-submit-button, .cancel-create-doctor-form-changes-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 8.2px;
  border-radius: 4px;
  border: 0;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.create-appointment-submit-button, .edit-doctor-submit-button, .edit-basic-profile-info-submit-button, .create-doctor-submit-button {
  background-color: #388038;
}

.create-appointment-submit-button:hover, .edit-doctor-submit-button:hover, .edit-basic-profile-info-submit-button:hover,
.create-doctor-submit-button:hover {
  background-color: #46A046;
}

.create-appointment-submit-button:disabled, .edit-doctor-submit-button:disabled, .edit-basic-profile-info-submit-button:disabled,
.create-doctor-submit-button:disabled {
  cursor: not-allowed;
}

.cancel-create-appointment-form-changes-button, .cancel-edit-doctor-form-changes-button, .cancel-edit-basic-profile-info-form-changes-button,
.cancel-create-doctor-form-changes-button {
  background-color: #C70000;
}

.cancel-create-appointment-form-changes-button:hover, .cancel-edit-doctor-form-changes-button:hover,
.cancel-edit-basic-profile-info-form-changes-button:hover, .cancel-create-doctor-form-changes-button:hover {
  background-color: #EB0000;
}

.edit-appointment-button, .delete-appointment-button {
  width: 6em;
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.edit-appointment-button {
  background-color: #7700B4;
}

.edit-appointment-button:hover {
  background-color: #A000F0;
}

.delete-appointment-button {
  background-color: #C70000;
}

.delete-appointment-button:hover {
  background-color: #EB0000;
}

.delete-appointment-button {
  margin-left: 3em;
}

.edit-appointment-button {
  margin-right: 3em;
}

.about-link {
  display: inline-block;
  margin-bottom: 1.5em;
}

.about-link, .about-link:visited {
  color: #7700B4
}

.about-link:hover {
  color: #008099;
}

.about-span {
  font-style: italic;
}

.edit-appointment-success-message, .edit-appointment-error-message, .delete-appointment-success-message {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.delete-doctor-success-message {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.delete-doctor-success-message-p {
  position: relative;
  font-size: 18px;
}

.no-doctor-div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
}

.edit-appointment-submit-button, .cancel-edit-appointment-form-changes-button, .edit-doctor-submit-button, 
.cancel-edit-doctor-form-changes-button, .edit-basic-profile-info-submit-button, .cancel-edit-basic-profile-info-form-changes-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: white;
  padding: 8.2px;
}

.edit-appointment-submit-button {
  background-color: #388038;
}

.edit-appointment-submit-button:disabled {
  cursor: not-allowed;
}

.cancel-edit-appointment-form-changes-button {
  background-color: #C70000;
}

.edit-doctor-success-message, .edit-doctor-error-message, .create-doctor-success-message, .create-doctor-error-message,
.create-appointment-success-message, .create-appointment-error-message, .edit-profile-info-success-message, .edit-profile-info-error-message {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  font-size: 18px;
}

.edit-doctor-success-message-p, .edit-doctor-error-message-p, .create-doctor-success-message-p, .create-doctor-error-message-p,
.create-appointment-success-message-p, .create-appointment-error-message-p, .edit-appointment-success-message-p,
.edit-appointment-error-message-p, .edit-profile-info-success-message-p, .edit-profile-info-error-message-p,
.delete-appointment-success-message-p {
  text-align: center;
}

.edit-appointment-success-message-p, .edit-appointment-error-message-p {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.form-message-button, .message-button {
  font-size: 18px;
  background: none;
  border: none;
  text-decoration: none;
  color: #7700B4;
  cursor: pointer;
}

.form-message-button:hover, .message-button:hover {
  color: #008099;
}

.edit-profile-button {
  grid-column-start: d;
  grid-column-end: d;
  justify-self: end;
  color: #7700B4;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 1.2em;
}

.edit-profile-button:hover {
  color: #008099;
}

.create-doctor-div {
  text-align: center;
  margin-top: 3.5em;
}

.form-error.b {
  font-size: initial;
}

.create-appointment-h1 {
  margin-left: 15px;
  margin-right: 15px;
}

.create-appointment-form, .edit-doctor-form, .edit-basic-profile-info-form, .create-doctor-form, .edit-appointment-form {
  display: grid;
  grid-row-gap: 1em;
}

.edit-doctor-h1 {
  padding-left: 15px;
  padding-right: 15px;
}

.no-appointments-h2-desktop {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 350px;
  text-align: center;
}

.no-appointments-h2-mobile, .no-lab-results-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

.logging-in-div, .loading-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #7700B4;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fade-in-1 {
  animation: fade-2 1s linear;
}

.fade-in-2 {
  animation: fade-1 1s linear;
}

.login-error {
  text-align: center;
}

.no-primary-insurance-h3, .no-secondary-insurance-h3 {
  text-align: center;
  font-weight: bold;
}

.login-p {
  font-size: 20px;
  color: #7700B4;
  text-align: center;
  font-weight: bold;
}

.hidden-1, .hidden-3, .hidden-4, .input-hidden {
  display: none;
}

@media only screen and (min-width: 375px) {
  .dashboard-links {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .display-section {
    height: 390px;
  }

  .create-appointment-form-div, .edit-appointment-form-div, .edit-doctor-form-div, .edit-basic-profile-info-form-div,
  .create-doctor-form-div {
    margin-right: auto;
    margin-left: auto;
    width: 55%;
  }

  .hidden-1, .hidden-3, .hidden-4 {
    display: none;
  }
}

@media only screen and (min-width: 425px) {
  .dashboard-links {
    grid-column-gap: 3.5em;
    grid-row-gap: 3.5em;
  }

  .profile-section-button-holder {
    margin-top: 1em;
  }

  .sidebar-list-item {
    line-height: 40px;
  }

  .fa-caret-down, .fa-caret-up {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .create-appointment-form-div, .edit-doctor-form-div, .edit-basic-profile-info-form-div,
  .create-doctor-form-div {
    width: 90%;
  }

  .edit-appointment-form-div {
    width: 100%
  }

  .fa-times.b {
    color: white;
  }

  .hidden-1, .hidden-3, .hidden-4 {
    display: none;
  }
}

@media (min-width: 426px) {
  .appointments-list-section {
    height: unset;
    overflow-y: unset;
  }
}

@media (min-width: 768px) {
  .landing-main {
    padding-left: 30px;
    padding-right: 30px;
  }
  .landing-logo {
    height: 6em;
  }
  .landing-logo-span-1, .landing-logo-span-2 {
    font-size: 2.5em;
  }

  .landing-h2 {
    font-size: 1.5em;
  }

  .landing-p {
    font-size: 1.2em;
  }

  .landing-link {
    font-size: 1.2em;
    padding: 15px;
  }

  .landing-background-image {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(90%);
    opacity: 0.6;
  }

  .login-logo {
    height: 8em;
  }

  .login-container {
    height: 100vh;
  }

  .login {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .login-form {
    padding-left: 4em;
    padding-right: 4em;
    width: 400px;
  }

  .login-form-label {
    font-size: 20px;
  }
  
  .form-error {
    margin-bottom: 4px;
    font-size: 20px;
  }

  .input-one {
    width: 100%;
    padding: 9px;
    font-size: 20px;
  }

  .input-one:-webkit-autofill,
  .input-one:-webkit-autofill:hover,
  .input-one:-webkit-autofill:focus,
  .input-one:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: 0 0 0px 1000px white inset;
      -webkit-box-shadow: 0 0 0px 1000px #faffbd inset;
      padding: 9px;
      border: 1px solid black;
  }

  .login-button {
    padding: 11px;
    font-size: 20px;
  }

  header {
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
    height: 90px;
    z-index: 2;
  }

  h1 {
    font-size: 2.2em;
  }

  .sidebar-display {
    width: 300px;
  }

  .sidebar-link {
    width: 87%
  }

  .b {
    align-self: center;
  }

  .footer-div {
    height: 50px;
  }

  footer {
    line-height: 50px;
  }

  .nav-logo {
    height: 4em;
  }

  .user-display {
    right: 5.5em;
  }

  .logo-span-1, .logo-span-2 {
    font-size: 2em
  }

  .logo-link {
    text-decoration: none;
  }

  .logo-span-1 {
    display: inline-block;
    color: #008099;
  }

  .logo-span-2 {
    display: inline-block;
    color: #7700B4;
  }

  .fa-sort-down {
    font-size: 1.5em;
    vertical-align: unset;
  }

  .fa-sort-up {
    vertical-align: -webkit-baseline-middle;
  }

  .fa-user-circle, .fa-bars {
    font-size: 2em;
    vertical-align: middle;
  }

  h1 {
    margin-top: 4em;
  }

  .dashboard-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    width: 600px;
    margin: auto;
    padding: 0;
  }

  .dashboard-link-container {
    text-align: center;
    background-color: #7700B4;
    margin-bottom: 0;
  }

  .dashboard-link-container:hover {
    background-color: #008099;
  }

  .link-div {
    padding-top: 1.20em;
    padding-bottom: 1.20em;
  }

  .dashboard-link-text, .dashboard-link-container:visited {
    font-size: 1.2em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%
  }

  .fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
    color: white;
    padding: 0;
    padding-bottom: 0.4em;
    font-size: 6em;
    background: none;
  }

  .lab-results-show-section, .lab-results-show-section-2 {
    max-width: 360px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    height: 320px;
  }

  .test-span {
    font-weight: bold;
  }

  /* @keyframes fade-1 {
    0% {opacity: 1;}
  } */

  .appointments-h1 {
    margin-bottom: 1em;
  }

  .appointments-section, .lab-results-section {
    display: grid;
    grid-template-areas: 
    "list show";
    grid-template-columns: 1fr 1fr;
  }

  .appointments-section {
    height: 350px;
  }

  .appointment-date-h2, .appointments-list-h2 {
    margin-top: 0;
  }

  .appointments-list-h2 {
    padding-top: 25px;
  }

  .show-a {
    display: grid;
    grid-area: show;
    justify-self: center;
    position: static;
    color: black;
    background: white;
    z-index: 0;
    animation: unset;
    margin-top: 0;
  }

  .show-b {
    grid-area: show;
    justify-self: center;
    position: static;
    color: black;
    background: white;
    z-index: 0;
    animation: unset;
    margin-top: 0;
  }
  
  .list {
    grid-area: list;
    justify-self: center;
  }

  .mobile-hide {
    display: block;
  }

  .desktop-hide, .desktop-hide-2, desktop-hide-3, .desktop-hide-button-container {
    display: none;
  }

  .lab-results-show-h2 {
    margin-top: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  .patient-education-h1, .esrd-info-h1, .nutritional-info-h1, .living-with-esrd-h1 {
    margin-top: 90px;
  }

  .display-section {
    height: 350px;
  }

  .appointments-show-instruction-h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 350px;
  }

  .lab-results-show-instruction-h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 320px;
  }

  .lab-results-list-section, .appointments-list-section {
    width: 31.5%;
    overflow-y: scroll;
    height: 200px;
  }

  .lab-results-list-item, .appointments-list-item {
    color: initial;
  }

  .appointments-show-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    height: 320px;
    margin-bottom: 0.7em;
  }

  .create-appointment-div {
    margin-top: 1em;
  }

  .create-appointment-span, .create-doctor-span {
    font-size: 17px;
  }

  .create-appointment-button, .create-doctor-button {
    font-size: 17px;
  }

  .create-appointment-button:hover, .create-doctor-button:hover {
    color: #008099;
  }

  .create-appointment-form-div, .edit-doctor-form-div, .edit-basic-profile-info-form-div,
  .create-doctor-form-div {
    width: 90%;
  }

  .edit-appointment-form-component-div {
    width: 100%;
  }

  .create-appointment-form, .edit-doctor-form, .edit-basic-profile-info-form, .create-doctor-form {
    grid-template-areas: 
      "slot-1 slot-2 slot-3";
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-items: end;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
  }

  .input-two-label {
    font-size: 20px;
  }

  .slot-1 {
    grid-column-start: slot-1;
    grid-column-end: slot-1;
  }

  .slot-2 {
    grid-column-start: slot-2;
    grid-column-end: slot-2;
  }

  .slot-3 {
    grid-column-start: slot-3;
    grid-column-end: slot-3;
  }

  .create-appointment-submit-button, .edit-doctor-submit-button, .edit-basic-profile-info-submit-button, .create-doctor-submit-button {
    grid-column-start: slot-2;
    margin-top: 2em;
    font-size: 20px;
    padding: 10px;
    width: 100%
  }

  .cancel-create-appointment-form-changes-button, .cancel-edit-doctor-form-changes-button, .cancel-edit-basic-profile-info-form-changes-button,
  .cancel-create-doctor-form-changes-button {
    grid-column-start: slot-3;
    margin-top: 2em;
    font-size: 20px;
    padding: 10px;
    width: 100%
  }

  .edit-appointment-submit-button, .cancel-edit-appointment-form-changes-button {
    margin-top: 15px;
    padding: 6.2px;
    color: white;
  }

  .edit-appointment-submit-button {
    grid-column-end: g;
  }

  .cancel-edit-appointment-form-changes-button {
    grid-column-start: h;
    grid-column-end: h;
  }

  .edit-appointment-submit-button:hover {
    background-color: #46A046;
  }

  .cancel-edit-appointment-form-changes-button:hover {
    background-color: #EB0000;
  }

  .edit-appointment-form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    border-bottom: 3px solid #008099;
    grid-column-gap: 1em;
  }

  .input-two {
    padding: 10px 5px;
  }

  .input-two:focus {
    padding: 10px 5px;
  }

  .input-two:-webkit-autofill,
  .input-two:-webkit-autofill:hover,
  .input-two:-webkit-autofill:focus,
  .input-two:-webkit-autofill:active {
      padding: 10px 5px;
  }

  .no-appointments-div {
    height: 100%;
  }

  .appointments-section, .appointments-list-div {
    margin-bottom: unset;
  }

  .edit-appointment-success-message, .edit-appointment-error-message, .delete-appointment-success-message {
    line-height: 280px;
  }

  .edit-appointment-success-message-p, .edit-appointment-error-message-p {
    position: relative;
    transform: none;
  }

  .datetime-picker-input-2 .rw-widget-picker.rw-widget-container input {
    padding: 10px 5px;
  }
 
  .datetime-picker-input-2 .rw-widget-picker.rw-widget-container input:focus {
    padding: 10px 5px;
  }

  .login-p {
    font-size: 22px;
  }

  .hidden-4 {
    display: initial;
  }

  .hidden-3 {
    display: block
  }

  .hidden-1 {
    display: none;
  }
}

@media (min-width: 950px) {
  h2 {
    font-size: 1.8em;
  }

  .header-quick-link-container {
    display: inline-block;
    vertical-align: middle;
  }

  .header-quick-link {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #7700B4;
  }

  .header-quick-link {
    transition: all 0.4s;
    padding-bottom: 3px;
  }

  .header-quick-link:hover {
    border-bottom: 3px solid #7700B4;
  }

  .doctor-display-section, .doctor-display-section-2 {
    height: 260px;
  }

  /* .fa-sort-down {
    vertical-align: unset;
  } */

  .appointments-h1 {
    margin-bottom: 2em;
  }

  .hidden-1 {
    display: none;
  }
}

@media (min-width: 1000px) {
  /* .landing-page-container {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
      url(https://blog.transonic.com/hubfs/images/2017/_Blog/dialysis-patient-experience.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size:contain;
    -o-background-size: contain;
    background-size: 100%;
  } */

  .header-quick-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  .lab-results-show-section, .lab-results-show-section-2 {
    max-width: 410px;
  }

  .patient-education-section-1, .nutritional-info-section, .living-with-esrd-section, .esrd-info-section, .about-section {
    max-width: 1150px;
    margin: auto;
  }

  .patient-education-p, .nutritional-info-p, .living-with-esrd-p, .esrd-info-p , .about-p{
    margin-bottom: 2.5em;
    font-size: 21px;
  }

  .about-p-2 {
    margin-bottom: 0.2em;
    font-size: 21px;
  }

  .about-link {
    font-size: 21px;
  }

  .patient-education-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1150px;
    grid-column-gap: 20px;
    margin-top: 40px;
  }

  .patient-education-div-1 {
    position: relative;
    height: 470px;
  }

  .patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .nutritional-info-li, .living-with-esrd-li, .esrd-info-li{
    font-size: 21px;
  }

  .display-section {
    height: 400px;
  }

  .appointments-show-list-item {
    max-width: 375px;
  }

  .appointments-show-list {
    width: 80%;
  }

  /* .appointment-button-holder-lg {
    margin-left: 130px;
  } */

  .edit-appointment-form {
    width: 375px;
    display: grid;
    grid-template-areas: "g h";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    align-items: end;
  }

  .create-appointment-form, .edit-doctor-form, .edit-basic-profile-info-form, .create-doctor-form {
    grid-template-areas: 
      "slot-1 slot-2 slot-3 slot-4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .profile-section-button-holder {
    margin-top: 1em;
  }

  .hidden-1 {
    display: none;
  }
}

@media (min-width: 1300px) {
  .landing-logo {
    height: 8em;
  }
  .landing-logo-span-1, .landing-logo-span-2 {
    font-size: 3.5em;
  }

  .landing-h2 {
    font-size: 2.5em;
  }

  .landing-p {
    font-size: 1.6em;
  }

  .landing-link {
    font-size: 1.6em;
  }

  .appointments-show-list {
    width: 65%;
  }

  .doctors-main {
    margin-bottom: 1.5em;
  }

  .create-appointment-form, .edit-doctor-form, .edit-basic-profile-info-form, .create-doctor-form {
    max-width: 1100px;
  }

  .hidden-1 {
    display: none;
  }
}

