/* .color-1 {color: #7700B4;}
.color-2 {color: #008099;}
.color-3 {color: #FF9D14} */

* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  outline: none;
}

.logo {
  height: 5em;
  margin-top: 3em
}

.landing-main {
  text-align: center;
}

.login-logo {
  height: 5em;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login {
  display: block;
  text-align: center;
}

.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.form-input {
  border-radius: 1px;
}

.login-button {
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  padding: 0.4em;
}

.container {
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header1 header2"
    "content1 content2"
    "footer1 footer2";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  grid-template-areas:
  "a b";
  grid-template-columns: auto 1fr;
  grid-column-start: header1;
  grid-column-end: header2;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
  z-index: 2;
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
  text-align: right;
  position: relative;
  z-index: 10;
}

.header-quick-link-container {
  display: none;
}

.user-div {
  line-height: 30px;
  border-bottom: 1px solid white;
}

.user-p {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.user-dropdown-div {
  display: inline-block;
  color: #7700B4;
  margin-left: 15px;
}

.user-display {
  position: absolute;
  top: 110%;
  left: auto;
  z-index: 90;
  right: 5.5em;
  background-color: #7700B4;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: white;
  line-height: 30px;
  display: block;
  width: 100%;
}

.logout-button:hover {
  background-color: #008099;
}

.fa-sort-down {
  vertical-align: super;
  padding-right: 6px;
  cursor: pointer;
}

.fa-sort-down:hover {
  color: #008099;
}

.fa-user-circle {
  font-size: 1.5em;
  margin-right: 1em;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.5em;
  color: #7700B4;
  cursor: pointer;
}

.fa-bars:hover {
  color: #008099;
}

.sidebar-dropdown-div {
  display: inline-block;
}

.nav-logo {
  height: 2em;
  vertical-align: middle;
}

.logo-link {
  text-decoration: none;
}

.logo-span-1, .logo-span-2 {
  display: none;
  font-family: 'Oregano', cursive;
  vertical-align: middle;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;
}

h2 {
  font-size: 1.6em;
}

.dashboard-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.dashboard-link-container {
  text-align: center;
  text-decoration: none;
  color: black;
}

.dashboard-link-text {
  margin: 0;
  margin-top: 0.5em;
  color: #7700B4;
}

.dashboard-link-container:visited {
  color: black;
}

.fa, .fa-user-md, .fa-5x {
  margin: 0;
}

.fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
  font-size: 4em;
  padding: 15px;
  border-radius: 30px;
  background-color: #7700B4;
  color: white;
}

.grid {
  display: block;
}

.list {
  text-align: center;
}

.mobile-hide {
  display: none;
}

.desktop-hide {
  display: block;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  right: 0;
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
}

.lab-results-main {
  padding: 0;
}

.lab-results-list-h2 {
  text-decoration: underline;
}

.lab-results-list-div {
  text-align: center;
}

.lab-results-list {
  list-style: none;
  padding: 0;
}

.lab-results-list-item {
  cursor: pointer;
  margin-bottom: 15px;
  max-width: 90px;
  margin-left: auto;
  margin-right: auto;
}

.lab-results-list-item:hover {
  text-decoration: underline;
}

.show {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #008099;
  position: absolute;
  top: 3.5em;
  bottom: 2.5em;
  margin: 0;
  z-index: 1;
  opacity: 1;
  animation: fade 0.25s linear;
}

.fa-times {
  color: white;
}

.lab-results-show-text {
  text-align: center;
}

.lab-results-show-section {
  display: grid;
  grid-template-areas: 
  "test result measurement-method";
  grid-template-columns: 1fr 0.25fr 0.5fr;
  max-width: 280px;
  margin: auto;
}

.lab-results-show-h2 {
  grid-column-start: test;
  grid-column-end: measurement-method;
  text-align: center;
  margin-top: 2em;
  text-decoration: underline;
}

.test-span {
  grid-column-start: test;
  grid-column-end: test;
}

.result-span {
  grid-column-start: result;
  grid-column-end: result;
}

.measurement-method-span {
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
  text-align: right;
}

.test-span, .result-span, .measurement-method-span {
  padding-bottom: 0.5em;
}

@keyframes fade {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

/* .sidebar-display-open {

} */

.sidebar-button {
  margin-top: 10px;
  padding: 0;
  margin-left: 10px;
  border: none;
  background: none;
  font-size: 1.6em;
  cursor: pointer;
}

.fa-times:hover {
  color: #008099
}

.sidebar-display {
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #7700B4;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 200px;
  height: 100%;
  min-height: 100%;
  z-index: 3;
  transition: all 0.35s ease-in-out;
  text-align: left;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-sublinks-list {
  list-style: none;
  padding-left: 1.5em;
}

.sidebar-list-item {
  border-top: 1px solid white;
  padding: 0;
  padding-left: 10px;
  position: relative;
  line-height: 40px;
}

.sidebar-list-item:hover {
  background-color: #008099;
}

.sidebar-sublink {
  text-decoration: none;
  color: white;
}

.sidebar-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.hidden-1, .hidden-3 {
  display: none;
}

.hidden-2 {
  right: -400px;
}

main {
  grid-column-start: content1;
  grid-column-end: content2;
  margin-bottom: 3em;
}

.footer-div {
  grid-column-start: footer1;
  grid-column-end: footer2;
  text-align: center;
  align-self: end;
  background-color: #7700B4;
  color: white;
  height: 2.5em;
}



footer {
  line-height: 2.5em;
}

.basic-info-section, .primary-insurance-info-section, .secondary-insurance-info-section, .treatment-info-section, .doctor-section {
  display: grid;
  grid-template-areas: 
    "c d";
  grid-template-columns: minmax(10px, 250px);
  align-items: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  grid-row-gap: 0.5em;
}

.basic-info-h1, .primary-insurance-info-h1, .secondary-insurance-info-h1, .treatment-info-h1 {
  text-align: center;
}

.grid-c-span {
  grid-column-start: c;
  grid-column-end: c;
}

.grid-d-span {
  grid-column-start: d;
  grid-column-end: d;
  text-align: right;
}

.display-section {
  animation: fade 1s linear;
  height: 375px;
  padding-left: 15px;
  padding-right: 15px;
}

.display-profile-section-button-1, .display-profile-section-button-2{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: #7700B4;
  margin-left: auto;
  margin-right: auto;
}

.display-profile-section-button-1 {
  grid-area: left;
}

.display-profile-section-button-1:hover {
  color: #008099;
}

.display-profile-section-button-2 {
  grid-area: right;
}

.display-profile-section-button-2:hover {
  color: #008099;
}

.fa-long-arrow-alt-left, .fa-long-arrow-alt-right {
  font-size: 3em;
  margin: 0;
}

.profile-section-button-holder {
  display: grid;
  grid-template-areas: 
   "left right";
  grid-template-columns: 1fr 1fr;
  align-items: start;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding-left: 15px;
  padding-right: 15px;
}

.display-profile-section-button-p {
  margin: 0;
  font-weight: bold;
}

.doctor-h3 {
  grid-column-start: c;
  grid-column-end: d;
  text-align: center;
}

.top-image-div-1 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(http://www.ssclive.org/wp-content/uploads/2017/04/black-doctor-signs-you-were-raised-african.png);
  width: 100%;
  background-size: cover;
  background-position-x: center;
  height: 440px;
  color: white;
}

.patient-education-icon {
  height: 144px;
  width: 144px;
  border-radius: 50%;
}

.patient-education-h1, .esrd-info-h1, .nutritional-info-h1, .living-with-esrd-h1 {
  line-height: 440px;
  margin: 0;
}

.patient-education-h2 {
  border-bottom: 5px solid #7700B4;
  padding-bottom: 10px;
}

.section-2-h2 {
  max-width: 1150px;
  margin: auto;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.patient-education-links-container {
  text-align: center;
  margin: auto;
}

.patient-education-div-1 {
  -webkit-box-shadow: 0px 0px 58px -3px #c7c7c7;
  box-shadow: 0px 0px 58px -3px #c7c7c7;
  margin: 0 auto 40px auto;
  max-width: 350px;
}

.patient-education-div-2 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.patient-education-h4 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.patient-education-h4-1 {
  color: #7700B4;
}

.patient-education-h4-2 {
  color: #FF9D14
}

.patient-education-h4-3 {
  color: #008099;
}

.patient-education-link-p {
  line-height: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  font-size: 1.1em;
}

.patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.patient-education-link-1 {
  background-color: #7700B4;
}

.patient-education-link-1:hover {
  background-color: #A000F0;
}

.patient-education-link-2 {
  background-color: #FF9D14;
}

.patient-education-link-2:hover {
  background-color: #FFB853;
}

.patient-education-link-3 {
  background-color: #008099;
}

.patient-education-link-3:hover {
  background-color: #00A6C7;
}

.nutritional-info-ul, .esrd-info-ul, .living-with-esrd-ul {
  list-style-type: square;
}
.nutritional-info-li, .esrd-info-li, .living-with-esrd-li {
  margin-bottom: 0.4em;
}

.top-image-div-3 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(https://i.ytimg.com/vi/0_dvNTcQxts/maxresdefault.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 440px;
  color: white;
}

.nutritional-info-h2 {
  border-bottom: 5px solid #008099;
  padding-bottom: 10px;
}

.top-image-div-4 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(https://www.ncoa.org/wp-content/uploads/couple-bike-riding-cropped.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  height: 440px;
  color: white;
}

.living-with-esrd-h2 {
  border-bottom: 5px solid #FF9D14;
  padding-bottom: 10px;
}

.top-image-div-2 {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(http://www.chaptershealth.org/wp-content/uploads/2018/01/180112-dialysis-crop.jpg);
  width: 100%;
  background-size: cover;
  background-position-x: center;
  height: 440px;
  color: white;
}

.esrd-info-h2 {
  border-bottom: 5px solid #7700B4;
  padding-bottom: 10px;
}

.patient-education-section-1, .patient-education-section-2, .nutritional-info-section, .living-with-esrd-section, .esrd-info-section {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 375px) {
  .dashboard-links {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .display-section {
    height: 390px;
  }
}

@media only screen and (min-width: 425px) {
  .dashboard-links {
    grid-column-gap: 3.5em;
    grid-row-gap: 3.5em;
  }
  .profile-section-button-holder {
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  header {
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
    height: 90px;
    z-index: 2;
  }

  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  .sidebar-display {
    width: 300px;
  }

  .b {
    align-self: center;
  }

  .footer-div {
    height: 50px;
  }

  footer {
    line-height: 50px;
  }

  .nav-logo {
    height: 4em;
  }

  .logo-span-1, .logo-span-2 {
    font-size: 2em
  }

  .logo-link {
    text-decoration: none;
  }

  .logo-span-1 {
    display: inline-block;
    color: #008099;
  }

  .logo-span-2 {
    display: inline-block;
    color: #7700B4;
  }

  .fa-sort-down {
    font-size: 1.5em;
    vertical-align: unset;
  }

  .fa-user-circle, .fa-bars {
    font-size: 2em;
    vertical-align: middle;
  }

  h1 {
    margin-top: 4em;
  }

  .dashboard-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    width: 600px;
    margin: auto;
    padding: 0;
  }

  .dashboard-link-container {
    text-align: center;
    background-color: #7700B4;
    margin-bottom: 0;
  }

  .dashboard-link-container:hover {
    background-color: #008099;
  }

  .link-div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .dashboard-link-text, .dashboard-link-container:visited {
    font-size: 1.2em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%
  }

  .fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
    color: white;
    padding: 0;
    padding-bottom: 0.4em;
    font-size: 6em;
    background: none;
  }

  .lab-results-show-section {
    max-width: 300px;
    margin: auto;
  }

  .test-span {
    font-weight: bold;
  }

  @keyframes fade {
    0% {opacity: 1;}
  }

  .grid {
    display: grid;
    grid-template-areas: 
    "list show";
    grid-template-columns: 1fr 1fr;
  }

  .show {
    grid-area: show;
    justify-self: center;
    position: static;
    color: black;
    background: white;
    z-index: -1;
  }
  
  .list {
    grid-area: list;
    justify-self: center;
  }

  .mobile-hide {
    display: block;
  }

  .desktop-hide {
    display: none;
  }

  .lab-results-show-h2 {
    margin-top: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  .patient-education-h1, .esrd-info-h1, .nutritional-info-h1, .living-with-esrd-h1 {
    margin-top: 90px;
  }

  .display-section {
    height: 350px;
  }

  .lab-results-list {
    overflow-y: scroll;
    height: 100%;
  }
}

@media (min-width: 950px) {
  .header-quick-link-container {
    display: inline-block;
    vertical-align: middle;
  }

  .header-quick-link {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #7700B4;
  }

  .header-quick-link {
    transition: all 0.4s;
    padding-bottom: 3px;
  }

  .header-quick-link:hover {
    border-bottom: 3px solid #7700B4;
  }

  /* .fa-sort-down {
    vertical-align: unset;
  } */
}

@media (min-width: 1000px) {
  .header-quick-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  .lab-results-show-section {
    max-width: 350px;
  }

  .patient-education-section-1, .nutritional-info-section, .living-with-esrd-section, .esrd-info-section {
    max-width: 1150px;
    margin: auto;
  }

  .patient-education-p, .nutritional-info-p, .living-with-esrd-p, .esrd-info-p {
    margin-bottom: 3em;
    font-size: 21px;
  }

  .patient-education-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1150px;
    grid-column-gap: 20px;
    margin-top: 40px;
  }

  .patient-education-div-1 {
    position: relative;
    height: 470px;
  }

  .patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .nutritional-info-li, .living-with-esrd-li, .esrd-info-li{
    font-size: 21px;
  }

  .display-section {
    height: 400px;
  }
}

