/* .color-1 {color: #7700B4;}
.color-2 {color: #008099;}
.color-3 {color: #FF9D14} */

* {
  font-family: 'Barlow', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 5em;
  margin-top: 3em
}

.landing-main {
  text-align: center;
}

.login-logo {
  height: 5em;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.login {
  display: block;
  text-align: center;
}

.login-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.form-input {
  border-radius: 1px;
}

.login-button {
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  padding: 0.4em;
}

.container {
  display: grid;

  grid-template-areas:
    "header1 header2"
    "breadcrumbs1 breadcrumbs2"
    "content1 content2"
    "footer1 footer2";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.5em auto 1fr 2.5em;

  height: 100vh;
}

header {
  display: grid;
  grid-template-areas:
  "a b";
  grid-template-columns: auto 1fr;
  grid-column-start: header1;
  grid-column-end: header2;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
  z-index: 2;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
  text-align: right;
  position: relative;
  z-index: 10;
}

.user-div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.user-p {
  margin: 0;
}

.user-dropdown-div {
  display: inline-block;
  color: #7700B4
}

.user-display {
  display: grid;
  position: absolute;
  top: 110%;
  left: auto;
  z-index: 90;
  right: 3em;
  background-color: #7700B4;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: white;
}

.fa-sort-down {
  vertical-align: super;
  padding-right: 6px;
  cursor: pointer;
}

/* .user-dropdown-div:hover {
  color: #008099
} */

.fa-user-circle {
  font-size: 1.5em;
  padding-right: 1em;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.5em;
  color: #7700B4;
  cursor: pointer;
}

.sidebar-dropdown-div {
  display: inline-block;
}

.nav-logo {
  height: 2em;
  vertical-align: middle;
}

.logo-link {
  text-decoration: none;
}

.logo-span-1, .logo-span-2 {
  display: none;
  font-family: 'Oregano', cursive;
  vertical-align: middle;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.dashboard-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.dashboard-link-container {
  text-align: center;
  text-decoration: none;
  color: black;
}

.dashboard-link-text {
  margin: 0;
  margin-top: 0.5em;
  color: #7700B4;
}

.dashboard-link-container:visited {
  color: black;
}

.fa, .fa-user-md, .fa-5x {
  margin: 0;
}

.fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
  font-size: 4em;
  padding: 15px;
  border-radius: 30px;
  background-color: #7700B4;
  color: white;
}

.grid {
  display: block;
}

.list {
  text-align: center;
}

.mobile-hide {
  display: none;
}

.desktop-hide {
  display: block;
  background: none;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  right: 0;
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
}

.lab-results-main {
  padding: 0;
}

.lab-results-list {
  text-align: center;
}

.lab-results-list-item {
  cursor: pointer;
}

.show {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #008099;
  position: absolute;
  top: 3.5em;
  bottom: 2.5em;
  margin: 0;
  z-index: 1;
  opacity: 1;
  animation: fade 0.25s linear;
}

.fa-times {
  color: white;
}

.lab-results-show-text {
  text-align: center;
}

.lab-results-show-section {
  display: grid;
  grid-template-areas: 
  "test result measurement-method";
  grid-template-columns: 1fr 0.25fr 0.5fr;
  max-width: 280px;
  margin: auto;
}

.lab-results-show-h2 {
  grid-column-start: test;
  grid-column-end: measurement-method;
  text-align: center;
  margin-top: 2em;
}

.test-span {
  grid-column-start: test;
  grid-column-end: test;
}

.result-span {
  grid-column-start: result;
  grid-column-end: result;
}

.measurement-method-span {
  grid-column-start: measurement-method;
  grid-column-end: measurement-method;
  text-align: right;
}

@keyframes fade {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

/* .sidebar-display-open {

} */

.sidebar-display {
  padding: 0;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #7700B4;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 200px;
  height: 100%;
  min-height: 100%;
  z-index: 3;
  transition: all 0.35s ease-in-out;
  text-align: left;
}

.sidebar-list {
  list-style: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sidebar-sublinks-list {
  list-style: none;
  padding-left: 1.5em;
}

.sidebar-list-item {
  margin-bottom: 1.5em;
}

.sidebar-sublink {
  text-decoration: none;
}

.sidebar-link {
  text-decoration: none;
}

.hidden-1 {
  display: none;
}

.hidden-2 {
  right: -400px;
}

main {
  grid-column-start: content1;
  grid-column-end: content2;
  margin-bottom: 3em;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-div {
  grid-column-start: footer1;
  grid-column-end: footer2;
  text-align: center;
  align-self: center;
  background-color: #7700B4;
  color: white;
}

footer {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.9em;
}

.profile-info {
  display: grid;
  grid-template-areas: 
    "c d";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.profile-h1, .profile-h2, .profile-span {
  grid-column-start: c;
  grid-column-end: d;
  text-align: center;
}

.profile-h2 {
  text-decoration: underline;
}

.grid-c-span {
  grid-column-start: c;
  grid-column-end: c;
}

.grid-d-span {
  grid-column-start: d;
  grid-column-end: d;
  text-align: right;
}

/* .patient-education {
  padding-left: 15px;
  padding-right: 15px;
} */

.breadcrumbs {
  grid-column-start: breadcrumbs1;
  grid-column-end: breadcrumbs2;
  padding-top: 0.5em;
  padding-left: 10px;
  margin: 0;
}

.breadcrumb-li {
  display: inline;
  font-size: 10px;
}

.breadcrumb-link {
  text-decoration: none;
}

.breadcrumb-li+li:before {
  padding: 5px;
  content: "\003E";
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-link:visited {
  color: inherit;
}

.breadcrumb-span {
  font-size: 0.7em;
}

.patient-education-icon {
  height: 144px;
  width: 144px;
  border-radius: 50%;
}

.patient-education-h2 {
  border-bottom: 5px solid #7700B4;
  padding-bottom: 10px;
}

.section-2-h2 {
  max-width: 1150px;
  margin: auto;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.patient-education-links-container {
  text-align: center;
  margin: auto;
}

.patient-education-div-1 {
  -webkit-box-shadow: 0px 0px 58px -3px #c7c7c7;
  box-shadow: 0px 0px 58px -3px #c7c7c7;
  margin: 0 auto 40px auto;
  max-width: 350px;
}

.patient-education-div-2 {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.patient-education-h4 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.patient-education-link-p {
  line-height: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  font-size: 1.1em;
}

.patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.patient-education-link-1 {
  background-color: #7700B4;
}

.patient-education-link-1:hover {
  background-color: #A000F0;
}

.patient-education-link-2 {
  background-color: #FF9D14;
}

.patient-education-link-2:hover {
  background-color: #FFB853;
}

.patient-education-link-3 {
  background-color: #008099;
}

.patient-education-link-3:hover {
  background-color: #00A6C7;
}

.nutritional-info-ul {
  list-style-type: square;
}
.nutritional-info-li {
  margin-bottom: 0.4em;
}

@media only screen and (min-width: 375px) {

  .dashboard-links {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }
}

@media only screen and (min-width: 425px) {

  .dashboard-links {
    grid-column-gap: 3.5em;
    grid-row-gap: 3.5em;
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-rows: 5.5em auto 1fr 3.5em;
    animation: fade 0.5s linear;
  }

  header {
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
    height: 90px;
    z-index: 2;
  }

  .nav-logo {
    height: 3em;
  }

  .logo-span-1, .logo-span-2 {
    font-size: 1.5em
  }

  .logo-link {
    text-decoration: none;
  }

  .logo-span-1 {
    display: inline-block;
    color: #008099;
  }

  .logo-span-2 {
    display: inline-block;
    color: #7700B4;
  }

  .dashboard-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 700px;
    margin: auto;
    padding: 0;
  }

  .dashboard-link-container {
    text-align: center;
    background-color: #7700B4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-radius: 4%;
  }

  .dashboard-link-container:hover {
    background-color: #008099;
  }

  .link-div {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .dashboard-link-text, .dashboard-link-container:visited {
    font-size: 1.2em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%
  }

  .fa-user, .fa-book, .fa-vial, .fa-user-md, .fa-calendar-alt {
    color: white;
    padding: 0;
    padding-bottom: 0.4em;
    font-size: 6em;
    background: none;
  }

  .lab-results-show-section {
    max-width: 300px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-areas: 
    "list show";
    grid-template-columns: 1fr 1fr;
  }

  .show {
    grid-area: show;
    justify-self: center;
    position: static;
    color: black;
    background: white;
    z-index: -1;
  }
  
  .list {
    grid-area: list;
    justify-self: center;
  }

  .mobile-hide {
    display: block;
  }

  .desktop-hide {
    display: none;
  }

  .lab-results-show-h2 {
    margin-top: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }
}

@media (min-width: 1000px) {
  .lab-results-show-section {
    max-width: 350px;
  }

  .patient-education-section-1 {
    max-width: 1150px;
    margin: auto;
  }

  .patient-education-p {
    margin-bottom: 3em;
    font-size: 21px;
  }

  .patient-education-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1150px;
    grid-column-gap: 20px;
    margin-top: 40px;
  }

  .patient-education-div-1 {
    position: relative;
    height: 470px;
  }

  .patient-education-link-1, .patient-education-link-2, .patient-education-link-3 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}

